
#context ,
#bodybox {
    padding: 0;
}

#bodybox>.container {
    margin-top: 0;
    height: 100vh;
}

.magpie-msgsbox .rollbox > .msgs-list > div > .alert {
    border-color: #ccc;
    white-space : pre-wrap;
}
