
#bodybox {
    padding: 0;
}

#bodybox > .container {
    height: 100vh;
    margin-top: 0;
}

.centre-data-magpie-assistant-talk {
    margin-top: 20px;
}

.centre-data-magpie-assistant-talk .magpie-msgsbox .msgs-list .alert {
    border-color: #ccc;
    white-space : pre-wrap;
}
